<h1>Test your knowledge...</h1>
<%= @totalcategories %> categories and <%= @totalquestions %> questions in the database.<br/>

<%= @msg %><br/><br/>

<!-  random questions here -->

<%= link_to "Back" , welcome_index_path %>

