<h1>Test#index</h1>
<p>Find me in app/views/test/index.html.erb</p>
<%= @totalcategories %> categories and <%= @totalquestions %> questions in the database.<br/>
<br/>
Choosing 10 random questions...<br/>

<!-  random questions here -->
